.setUpBackGround {
    -fx-background-image:url('../graphics/EriantysLogo.jpg');
    -fx-background-size: cover;
}
.anchor{
    -fx-background-image: url('../graphics/EriantysLogo.jpg');

}
.pane {
    -fx-background-image: url('../graphics/Plancia.png');
    -fx-background-size: contain;
}
