.setUpBackGround {
    -fx-background-image:url('../graphics/EriantysLogo.jpg');
    -fx-background-size: cover;
}
.anchor{
    -fx-background-image: url('../graphics/EriantysLogo.jpg');

}
.islandPanel{
    -fx-border-color: red;
}
.pane {
    -fx-background-image: url('../graphics/Plancia.png');
    -fx-background-size: contain;
}
.border{
    -fx-border-color: red;
}
.main{
    -fx-background-image: url('../graphics/Background.jpg');
}